<div id="mainHeader">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a ng-click="isLoginFormOpen = !isLoginFormOpen">Piano Technicians: Sign-In</a></li>

	      </ul>
	    </div>
	  </div>
	</nav>
	    <div ng-show="isLoginFormOpen" id="loginForm">
	        <form name="loginForm" ng-if="!authData" class="nav navbar-nav navbar-right">
	            <fieldset>
	                <input type="email" ng-model="loginUser.email" placeholder="Email..." required>
	                <input type="password" ng-model="loginUser.password" placeholder="Password..." required>
	                <br>
	                <button ng-click="login(loginUser)" ng-disabled="loginForm.$invalid">Login</button>
	                <button ng-click="register(loginUser)" ng-disabled="loginForm.$invalid">Register</button>
	                <button ng-click="reset(loginUser)">Reset Password</button>
	            </fieldset>
	        </form>
	        <div ng-if="authData">
	            <span>Logged in as: {{ authData.uid }}</span>
	            <button ng-click="authObj.$unauth()">Log Out</button>
	            <form name="userForm">
	                <fieldset>
	                    <input type="text" ng-model="user.name" placeholder="Name...">
	                    <input type="date" ng-model="birthday" placeholder="Birthday..." ng-change="setBirthday(birthday)">
	                    <input type="email" ng-model="email" placeholder="Email...">
	                    <input type="password" ng-model="oldPassword" placeholder="Old password...">
	                    <input type="password" ng-model="newPassword" placeholder="New password...">
	                    <input type="password" ng-model="newPasswordConfirmed" placeholder="New password again...">
	                    <button ng-click="changePassword(email, oldPassword, newPassword, newPasswordConfirmed);">Change Passwword</button>
	                </fieldset>
	            </form>
	        </div>
	        <ul>
	            <li ng-repeat="message in messages">
	                <span>Username: {{ message.username }}</span>
	                <div> {{ message.text }}</div>
	                <button ng-click="removeMessage(message)">Remove Me</button>
	            </li>
	        </ul>
	    </div>

	<div class="jumbotron">
	  <h1 class="welcome">Welcome to</h1>
	  <h2 class="website">UtahPianoTuning.com</h2>
	  <div class="intro">
		  <p>This site designed to help you, the <em>Piano Owner</em>, get lined up with the right <em>Piano Technician</em></p>
		  <p>...and to help you know what to expect when they arrive.</p>
	  </div>
	</div>
</div>

<div class="requestRouter">
	<a id="createRequest" href="#/request">Create a Service Request</a>
</div>

<div class="claimRouter">
	<a id="createRequest" href="#/claim">Claim a Lead</a>
</div>


<!-- <div class="requestTechnician">
	<a id="requestTechnician href ng-click=""">Contact a Technician Directly</a>
</div> -->


<div class="interestingFacts">
	<h1 class="factsHeader">Piano Trivia</h1>
	<ul class="christophori">
		<li>Bartholomeu Christophori is credited for inventing the Piano around the turn of the 18th century.  He was an inventor and a musician for an Italian magistrate who wanted an instrument that was similar to the harpsicord, but that could fluctuate in volume.  It took more than a decade and seven different renditions before Christophori had a design that he and other musicians were pleased with.  He named his new instrument the <em>Piano Forte</em>  ...Italian for <em>Soft Loud</em>.</li>
		<li>Christophori's design for has gone mostly unchanged to this day... more than 200 years later.</li>
	</ul>
	<ul class="manufacturers">
		<li>The upright piano became popular starting in the 1890's, and by 1910 well over 100 different piano manufacturers were selling pianos in the United States.  However, during the first and second world wars the majority of those piano manufacturers converted to making wartime goods, or were forsed to close altogether.</li>
		<li>It wasn't until the 1940's that the piano industry experienced a resurgence with the production of a cheaper, smaller piano called the Spinet, or Drop Action piano.  By the 1960's the piano had become an american staple for in-home entertainment.</li>
		<li>Today piano technicians are called on to service all types of pianos, from brand new concert grands to family heirlooms from 1895.</li>	
	</ul>
	<div class="specs">
		<p></p>
	</div>

</div>