<div class="jumbotron">
  <div id="homeButton">
	<a id="backToMain" href="#/intro">Back to Main</a>
  </div>
  <div class="headerh1">
  	<h1 class="request">Request a Tuning</h1>
  </div>
  <div class="intro">
	  <p>This site is designed to help you, the <em><u>Piano Owner</u></em>, get lined up with the right <em><u>Piano Technician</u></em></p>
	  <p>...and to help you know what to expect when they arrive.</p>
  </div>
</div>

<div class="body">
	<div class="claimHeader">
		<p>
			Filling out this form will generate an email notification to technicians in your area that have indicated they are interested in, and capable of, doing the work that you are requesting.
		</p>
		<p>
			Once the form is filled out you can then expect a qualified technician to contact you within 24 business hours.
		</p>
	</div>

	<div class="form">
		<!-- CUSTOMER CONTACT INFO -->

		<div class="contactInfo">
			<h1 class="infoHeader">Your Info</h1>
			<div class="infoParentA">
				<div class="infoParentB first">
					<div class="infoInput">
						<label>First Name:<input ng-model="newLead.firstName" type="text" placeholder="First Name" required></label>
					</div>
					<div class="infoInput">
						<label>Address:<input ng-model="newLead.address" type="text" placeholder="Street Address" required></label>
					</div>
					<div class="infoInput">
						<label>State:<input ng-model="newLead.state" type="text" placeholder="State" required></label>
					</div>	
					<div class="infoInput">
						<label>Phone:</label><input ng-model="newLead.phone" type="number" placeholder="Telephone" required></label>
					</div>
				</div>

				<div class="infoParentB second">
					<div class="infoInput">
						<label>Last Name:<input ng-model="newLead.lastName" type="text" placeholder="Last Name" required></label>
					</div>
					<div class="infoInput">
						<label>City:<input ng-model="newLead.city" type="text" placeholder="City" required></label>
					</div>
					<div class="infoInput">
						<label>Zip:<input ng-model="newLead.zip" type="number" placeholder="Zip Code" required></label>
					</div>
					<div class="infoInput">
						<label>Email:<input ng-model="newLead.email" type="email" placeholder="Email" required></label>
					</div>
				</div>
			<div>
		</div>
	</div>


	<!-- PIANO INFO -->

	<div class="pianoInfo">
		<h1 class="infoHeader">Piano's Info</h1>
		<form>
			<div id="pianoDetail" class="pianoKind">
				<span>What kind of Piano is it?</span> <br>
				<input ng-model="newLead.pianoKindGrand" type="checkbox" value="pianoKindGrand"> Grand Piano
				<input ng-model="newLead.pianoKindConsole" type="checkbox" value="pianoKindConsole"> Console
				<input ng-model="newLead.pianoKindSpinet" type="checkbox" value="pianoKindSpinet"> Spinet
				<input ng-model="newLead.pianoKindOldUpright" type="checkbox" value="pianoKindOldUpright"> Old Upright

		<!-- 		<div class="typeImages">
						grand piano
						Console Piano
						Spinet / Drop Action
						Old Upright
					</div> -->
			</div>
				
			<div id="pianoDetail" class="pianoBrand">	
				<span>What brand of Piano is it?</span> <br>
				<input name="brand" ng-model="newLead.pianoBrand" type="text" placeholder="Piano's Brand">
			</div>

			<div id="pianoDetail" class="pianoAge">		
				<span>How old is your piano?</span> <br>
					<input ng-model="newLead.pianoAgeGuess0015" type="checkbox" value="ageGuessCheckbox1"> 0-15 yrs 
					<input ng-model="newLead.pianoAgeGuess1530" type="checkbox" value="ageGuessCheckbox2"> 15-30 yrs 
					<input ng-model="newLead.pianoAgeGuess3050" type="checkbox" value="ageGuessCheckbox3"> 30-50 yrs 
					<input ng-model="newLead.pianoAgeGuess5075" type="checkbox" value="ageGuessCheckbox4"> 50-75 yrs 
					<input ng-model="newLead.pianoAgeGuess7500" type="checkbox" value="ageGuessCheckbox4"> 75+ yrs
			</div>

			<div id="pianoDetail" class="lastTuned">
				<span>How long has it been since your piano was last tuned?</span> <br>
					<input ng-model="newLead.lastTuned0001" type="checkbox" value="lastTunedCheckbox1"> 0-1 yrs 
					<input ng-model="newLead.lastTuned0102" type="checkbox" value="lastTunedCheckbox2"> 1-2 yrs 
					<input ng-model="newLead.lastTuned0305" type="checkbox" value="lastTunedCheckbox3"> 3-5 yrs 
					<input ng-model="newLead.lastTuned0510" type="checkbox" value="lastTunedCheckbox4"> 5-10 yrs
					<input ng-model="newLead.lastTuned0010" type="checkbox" value="lastTunedCheckbox5"> 10+ yrs 
			</div>


			<div id="pianoDetail" class="workNeeded">
				<span>What kind of work do you want done?</span><br>
				<span>*select all that apply*</span>
				<div class="workNeededSelections">
					<input ng-model="newLead.tuningRequest" type="checkbox" value="tuningCheckbox"> Tuning 
					<input ng-model="newLead.pitchRaiseRequest" type="checkbox" value="pitchRaiseCheckbox"> Pitch Raise 
					<input ng-model="newLead.repairRequest" type="checkbox" value="repairsCheckbox"> Repairs 
					<input ng-model="newLead.cleaningRequest" type="checkbox" value="cleaningCheckbox"> Internal Cleaning 
					<input ng-model="newLead.regulationRequest" type="checkbox" value="regulationCheckbox"> Regulation <br>
					<input ng-model="newLead.purchaseConsult" type="checkbox" value="purchaseConsultCheckbox"> Purchase Consult 
					<input ng-model="newLead.estimateRequest" type="checkbox" value="estimiateCheckbox"> Estimate 
					<input ng-model="newLead.appraisalRequest" type="checkbox" value="appraisalCheckbox"> Appraisal 
					<input ng-model="newLead.otherRequest" type="checkbox" value="otherCheckbox"> Other<br>
				</div>
				<div class="serviceDescriptions">
					<ul>
						<li><u>Tuning</u> - the most basic service technicians perform on a piano.  Usually this service can include minor repairs and adjustments to the piano that improve it's playability/stability.</li>
						<li><u>Pitch Raise</u> - if a piano hasn't been tuned in 2+ years it will likely need a pitch raise before it can receive a tuning.</li>
						<li><u>Repairs</u> - phrases such as; "Sticking Keys", "Pedal Not Working", "Note doesn't work right", "Makes a weird sound" all indicate that a repair is needed.</li>
						<li><u>Cleaning</u> - have your technician remove years of dust, spider webs, and foreign objects in a way that is gentle and safe for the piano.</li>
						<li><u>Regulation</u> - an extensive overhaul of your piano's action that completely evens out each key's weight, feel, depression depth, volume, and performance.</li>
						<li><u>Purchase Consult</u> - You wouldn't buy a car without having it checked by a mechanic you trust.  Do the same with a piano.  Piano technicians can help you know what to look for, what to avoid, and advise you on fair prices for your area.</li>
						<li><u>Estimate</u> - Have a technician come to your home to provide a detailed quote on a big project you might be considering for your piano.</li>
						<li><u>Appraisal</u> - Find out your piano's current value and have it documented.</li>
					</ul>
				</div>
				<div class="requestComment">Comment:<br>
			  		<input ng-model="newLead.comment" name='commentField' placeholder="Describe repairs or other work needed here."><br>
			  	</div>	

			</div>

			<div class="inputButton">
				<input ng-click="createLead()" type="submit" value="submit" placeholder="Submit Request">
			</div>
		</form>
	</div>
</div>